.create-post {
  padding-top: 20px;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  height: 550px;

}

.posts-container {
  padding: 20px;
}

.posts-heading {
  color: #6f42c1; /* Adjust color as needed */
  margin-bottom: 20px;
}

.post-card {
  background-color: #393e42; /* Match the card background color */
  border-radius: 16px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
  cursor: pointer; /* Pointer cursor to indicate interactivity */
  height: 250px; /* Ensure cards take full available height */
  /* width: 300px; */
}

.post-card:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.post-image {
  width: 100%; /* Make image cover the full width */
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Ensure image covers the area */
  border-radius: 8px; /* Rounded corners for the image */
  margin-bottom: 10px; /* Space between image and text */
}
