.card {
    max-width: 400px; 
    max-height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden; 
    cursor: pointer;
}

.card .MuiCardMedia-root {
    width: 100%;
    height: 194px; 
    object-fit: cover;
}

.card .cardActions {
    margin-top: auto; 
}
