.paper {
    padding: 20px;
    border-radius: 15px;
  }
  
  .post-details-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .left-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .right-section {
    flex: 1;
    max-width: 50%;
  }
  
  .media {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-height: 600px;
  }
  
  @media (max-width: 600px) {
    .post-details-container {
      flex-direction: column;
    }
  
    .left-section,
    .right-section {
      margin: 0;
      max-width: 100%;
    }
  }
  